POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_DB="default_database"

POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT=5432

SECRET_KEY="django-insecure-s@hb%%4L9NjXoDH3YW8bX&yz*Rrv%6"

# The URL for the Django's admin endpoint
ADMIN_URL="/admin"
